

<div class="container pt-5">
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <h1>Stupid Coaching</h1>
      <form action="/answer" data-turbo="false">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Say something to your coach:</label>
            <input type="text" class="form-control" name="resposta" placeholder="tudo">
          </div>
          <button type="submit" class="btn btn-primary mt-3">Ask!</button>
        </form>
      </div>
    </div>
</div>
